
@font-face {
    font-family: "laila-bold";
    src: url("./fonts/Laila-Bold.ttf");
}
@font-face {
    font-family: "laila-light";
    src: url("./fonts/Laila-Light.ttf");
}
@font-face {
    font-family: "laila-medium";
    src: url("./fonts/Laila-Medium.ttf");
}
@font-face {
    font-family: "laila-regular";
    src: url("./fonts/Laila-Regular.ttf");
}
@font-face {
    font-family: "laila-semibold";
    src: url("./fonts/Laila-SemiBold.ttf");
}
@font-face {
    font-family: "stylish-regular";
    src: url("./fonts/Stylish-Regular.ttf");
}

body{
    background-color: #073745;
    color: #F7EBDF;
    font-family: 'laila-regular';
}

.container {
    overflow-x: hidden;
}

.flex {
    display: flex;

    align-items: center;
}

header {
    overflow: hidden;
    padding: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-family: 'stylish-regular';
    font-size: 40px;
    font-weight: 600;
}

nav {
    overflow: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    position: relative;
}

li.active a {
    color: #F47F11;
    font-family: 'laila-bold';
    font-size: 1.1em;
}

a {
    text-decoration: none;
    font-family: 'laila-regular';
    color: #F7EBDF;
    padding: 2rem;
    display: block;
    transition: 0.2s
}

li:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 60%;
    width: 1px;
    background-color: #F7EBDF;
    right: 0;
    top: 20%;
}

a:hover{
    color: #F47F11;
    font-family: 'laila-bold';
    font-size: 1.1em;
}

@media (max-width: 850px) {
    ul {
        flex-direction: column;
    }

    li {
        margin: 0;
    }
    li:last-child::after {
        content: "";
        position: absolute;
        height: 60%;
        width: 1px;
        background-color: #F7EBDF;
        right: 0;
        top: 20%;
    }
}